#####
#Here is an example config file for mrclean. I suggest you edit these vars and then mv this config to /home/yourusername/.mrclean
#####

#time format for logging if needed
time=$(date +"%m-%d-%y.%H-%M")

#cur is the directory you are running the mrclean scripts from
cur=/home/"$(id -un)"/mrclean

#bad is the directory for bad movie dirs to go into. preferrably make this the same fs so moving doesnt take forever. Can be absolute or relative, prefer absolute
bad=/mnt/media/plzsortme

